html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  /*background: linear-gradient(to bottom, #f5f5f5, #fff);*/


  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  overflow-x: hidden;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  font-family: 'Shrikhand', cursive;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

nav a {
  color: #000;
  text-decoration: none;
}

#body {
  padding: 55px 10px 20px;
}

#page-title {
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#footer a {
  color: #8c1515;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}


.card {
  display: inline-block;
  height: 300px;
  width: 225px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 5px;
}

.card:hover {
  box-shadow: 5px 5px 0 #333;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-text {
  padding: 10px;
}

.card-title {
  font-weight: 900;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.card-content {
  padding: 10px 0 15px;
  font-size: 14px;
}
